src/data
src/__pycache__  
src/test/
src/tests/
src/*.pyc
src/data_simulation.py

examples/

tests/data # -- large csv files 
tests/benchmarks/res
tests/benchmarks/simulated_*

docs/report.*
!docs/report.pdf

ann/*/__pycache__
ann/*/*.pyc
ann/__pycache__  
ann/*.pyc  

# TODO.md

test/